[Desktop Entry]
Encoding=UTF-8
Name=Lumin-set
Comment[fr]=Régler la luminosité
Exec=lumin-set
Icon=/usr/share/icons/oxygen/48x48/apps/strigi.png
Type=Application
Categories=GTK;System;
